@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

* {
  font-family: "Zilla Slab", serif;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #454362;
  color: #f1f1f1;
}

h1 {
  font-size: clamp(3em, -1em + 8.2vw, 6em);
  font-family: "Inter", sans-serif;
}

p {
  font-size: clamp(1.2em, -1em + 4.2vw, 1.8em);
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.container h1 {
  width: 100%;
}

.box {
  color: #21202c;
  cursor: pointer;
  margin: 0 clamp(3em, -3em + 20vw, 18em);
  padding: 32px;
  background-color: #f1f1f1;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
  transition: 0.25s ease;
}

.box:hover {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15), 0 4px 2px rgba(0, 0, 0, 0.15),
    0 8px 4px rgba(0, 0, 0, 0.15), 0 16px 8px rgba(0, 0, 0, 0.15),
    0 32px 16px rgba(0, 0, 0, 0.15);
}
